@use "./abstracts/mixins.scss";
@use "./abstracts/variables.scss";

.footerHome {
  padding: 2% 0;
  margin-bottom: 0;
  background-color: variables.$primaryColor;
}
.main {
  height: 99.5dvh;
  @include mixins.flex(column, nowrap);
  justify-content: space-between;
  align-items: center;
  padding: variables.$homePagePadding;

  .menuBox {
    animation-name: menuAppear;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
  }

  ul {
    width: 100%;
    height: auto;
    @include mixins.flex(row, wrap);
    align-items: end;
    justify-content: center;
    list-style: none;
    border-radius: 8px;
    gap: 3px;

    li {
      width: 49.5%;
      height: 180px;
      box-sizing: border-box;
      background-color: variables.$surfaceColor;
      border: 1px solid variables.$surfaceBorderColor;

      .menuItem {
        width: 65%;
        height: 100%;
        @include mixins.flex(column, nowrap);
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        span {
          font-weight: 500;
          font-size: clamp(1rem, 2vw, 1.6rem);
        }

        .resumeTxt {
          margin-top: -3%;
        }
      }
    }

    li:first-of-type {
      width: 100%;

      span {
        font-size: clamp(1.15rem, 2vw, 1.6rem);
      }
    }

    li:last-of-type a .menuItem {
      gap: 9%;
    }
  }

  h1 {
    font-size: clamp(1.15rem, 2vw, 1.9rem);
    font-weight: 550;
    position: relative;
    top: 4.5%;
    text-align: center;
  }

  .subheadersStart {
    color: transparent;
    animation-name: subheaders;
    animation-duration: 1s;
    // animation-delay: 3.3s;
    animation-fill-mode: forwards;
  }

  .subheaders {
    height: 8%;
    @include mixins.flex(column, nowrap);
    text-align: center;
    position: relative;
    top: 3%;
    gap: 6px;

    h2 {
      font-size: clamp(1rem, 2vw, 1.6rem);
      font-weight: 300;
    }

    h3 {
      font-size: clamp(0.9rem, 2vw, 1.4rem);
      font-weight: 300;
    }
  }
}

@keyframes h1Start {
  0% {
    color: rgb(233, 233, 233);
  }
  75% {
    color: rgb(233, 233, 233);
  }
  100% {
    color: rgb(5, 5, 5);
  }
}

@keyframes subheaders {
  from {
    color: transparent;
  }
  to {
    color: black;
  }
}

@keyframes menuAppear {
  from {
    filter: opacity(0);
    position: relative;
    top: 10%;
  }
  to {
    filter: opacity(1);
    position: relative;
    top: 0%;
  }
}

// In mobile the first menu option must be bigger
@media (max-width: 714px) {
  .menuBox {
    li:active {
      background-color: rgb(255, 255, 255);
      // width: 50%;
      transition: 0.3s;
    }
  }
}

@media (min-width: 714px) {
  .main {
    // In laptop screen the menu is not centered with justify-content: center
    .menuBox {
      width: auto;
      height: 62%;

      li {
        width: 28.7%;
        height: 100%;
        margin: 0;
        padding: 0;
        transition: 0.2s;
      }

      li:first-of-type {
        width: 28.7%;
        height: 100%;
        margin: 0;
        padding: 0;

        .menuItem {
          margin-top: 5px;
          // position: relative;
          // bottom: 25px;
          // top: 21px;
          // gap: 20px;

          div {
            width: 125%;
            position: relative;
            bottom: 9px;
            display: flex;
            justify-content: center;
          }

          span {
            // margin: 0 auto;
          }
        }
      }

      li:nth-of-type(2) .menuItem span {
        position: relative;
        top: 2px;
      }

      li:last-of-type .menuItem {
        width: 62%;
        position: relative;
        top: 2px;

        span {
          position: relative;
          top: 6px;
        }
      }

      li:hover {
        background-color: rgb(255, 255, 255);
        // border-top: 2px solid rgb(200, 200, 200);
        // border-left: 2px solid rgb(200, 200, 200);
        // border-right: 2px solid rgb(0, 0, 0);
        // border-bottom: 2px solid rgb(0, 0, 0);
      }

      h1 {
        top: 2%;
      }
      .subheaders {
        top: 0;
      }
    }

    .footerHome {
      padding: 0.5% 0;
    }
  }
}
