@use "./abstracts/mixins.scss";
@use "./abstracts/variables.scss";

.main {
  height: 99.5dvh;
  @include mixins.flex(column, nowrap);
  justify-content: space-between;
  align-items: center;
  padding: variables.$homePagePadding;

  .menuBox {
    animation-name: menuAppear;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
  }

  ul {
    width: 100%;
    height: auto;
    @include mixins.flex(row, wrap);
    align-items: end;
    justify-content: center;
    list-style: none;
    border-radius: 8px;
    gap: 3px;

    .menuItemBox {
      box-sizing: border-box;
      width: 49.5%;
      height: 180px;
      padding-bottom: 4%;
      background-color: variables.$surfaceColor;
      border: 1px solid variables.$surfaceBorderColor;

      .menuItem {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        @include mixins.flex(column, nowrap);
        align-items: center;
        justify-content: end;
        margin: 0 auto;

        .svg1 {
          width: 55%;
          max-width: 180px;
        }

        .svg2 {
          width: 80%;
          max-width: 120px;
          position: relative;
          top: 7px;
        }

        .svg3 {
          width: 75%;
          max-width: 130px;
          position: relative;
          bottom: 15px;
        }

        .aboutMeTxt {
          font-size: clamp(1.1rem, 1.8vw, 1.4rem);
        }

        .resumeTxt,
        .portfolioTxt {
          font-size: clamp(1rem, 1.8vw, 1.4rem);
        }
      }
    }

    .menuItemBox:first-of-type {
      width: 100%;
    }
  }

  h1 {
    font-size: clamp(1.15rem, 2vw, 1.9rem);
    font-weight: 550;
    position: relative;
    top: 4.5%;
    text-align: center;
  }

  .subheadersStart {
    color: transparent;
    animation-name: subheaders;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .subheaders {
    height: 8%;
    @include mixins.flex(column, nowrap);
    text-align: center;
    position: relative;
    top: 3%;
    gap: 6px;

    h2 {
      font-size: clamp(1rem, 2vw, 1.6rem);
      font-weight: 300;
    }

    h3 {
      font-size: clamp(0.9rem, 2vw, 1.4rem);
      font-weight: 300;
    }
  }
}

.footerHome {
  padding: 2% 0;
  margin-bottom: 0;
  background-color: variables.$primaryColor;
}

@keyframes h1Start {
  0% {
    color: rgb(233, 233, 233);
  }
  75% {
    color: rgb(233, 233, 233);
  }
  100% {
    color: rgb(5, 5, 5);
  }
}

@keyframes subheaders {
  from {
    color: transparent;
  }
  to {
    color: black;
  }
}

@keyframes menuAppear {
  from {
    filter: opacity(0);
    position: relative;
    top: 10%;
  }
  to {
    filter: opacity(1);
    position: relative;
    top: 0%;
  }
}

// In mobile the first menu option must be bigger
@media (max-width: 714px) {
  .menuBox {
    li:active {
      background-color: rgb(255, 255, 255);
      transition: 0.3s;
    }
  }
}

@media (min-width: 714px) {
  .main {
    // In laptop screen the menu is not centered with justify-content: center
    .menuBox {
      width: 90%;
      height: 62%;

      .menuItemBox {
        width: 32%;
        height: 100%;
        padding-bottom: 6%;
        transition: 0.2s;

        .menuItem {
          .svg1 {
            width: 120%;
            max-width: 380px;
            position: relative;
            bottom: 40px;
          }

          .svg2 {
            width: 100%;
            max-width: 310px;
            top: -3px;
          }

          .svg3 {
            width: 100%;
            max-width: 280px;
            bottom: 60px;
          }
        }
      }

      .menuItemBox:first-of-type {
        width: 32%;
      }

      li:hover {
        background-color: rgb(255, 255, 255);
      }

      h1 {
        top: 2%;
      }
      .subheaders {
        top: 0;
      }
    }
  }
  .footerHome {
    padding: 0.5%;
  }
}
