@use "../../../../styles/abstracts/variables.scss";
@use "../../../../styles/abstracts/mixins.scss";

.iconBox {
  width: min-content;
  @include mixins.flex(column, nowrap);
  align-items: center;
  gap: 10px;

  span {
    font-weight: 600;
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
    margin: 0 auto;
    // color: rgb(85, 85, 85);
  }
}
.img {
  width: 60px;
  height: auto;
}

@media (min-width: 714px) {
  .img {
    width: 100px;
  }
}
