.textOpen1 {
  height: 180px;
  transition: 0.5s;
}

.textClosed1 {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.textOpen2 {
  height: 300px;
  transition: 0.5s;
}

.textClosed2 {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.textOpen3 {
  height: 180px;
  transition: 0.5s;
}

.textClosed3 {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

@media (min-width: 714px) {
  .textOpen1,
  .textClosed1,
  .textOpen2,
  .textClosed2,
  .textOpen3,
  .textClosed3 {
    height: auto;
  }
}
