@use "../../styles/abstracts/mixins.scss";

.form {
  @include mixins.flex(column, nowrap);
  align-items: center;
  gap: 15px;
  transition: 1s;

  label {
    width: 60%;
    max-width: 260px;
    button {
      width: 100%;
      padding: 5px;
      font-size: clamp(1.3rem, 2vw, 1.9rem);
      background-color: transparent;
      border: none;
      border-bottom: 1px solid transparent;
      cursor: pointer;
      transition: border 1s;
    }

    button:hover {
      border-bottom: 1px solid rgb(69, 128, 238);
    }
  }

  .dynamic {
    animation-name: dynamicElements;
    animation-duration: 1s;
  }

  .dynamic1 {
    animation-name: dynamicElements1;
    animation-duration: 1s;
  }

  .hiddeLang {
    display: none;
  }

  .buttonsBox {
    @include mixins.flex(row, wrap);
    gap: 40px;

    input {
      @include mixins.flex(row, wrap);
      justify-items: center;
      align-items: center;
      appearance: none;
      cursor: pointer;
    }

    input:hover {
      color: rgb(69, 128, 238);
    }

    input:active {
      color: rgb(69, 128, 238);
    }

    .enBtn::after {
      content: "En";
      font-size: clamp(1.1rem, 1.8vw, 1.7rem);
      position: relative;
      z-index: 1;
      left: 40%;
    }

    .esBtn::after {
      content: "Es";
      font-size: clamp(1.1rem, 1.8vw, 1.7rem);
      position: relative;
      z-index: 1;
      left: 40%;
    }
  }
}

.closeForm {
  label {
    display: none;
  }

  input {
    appearance: none;
    cursor: pointer;
  }

  .enBtn:checked::after {
    content: "En";
    font-size: clamp(1.1rem, 1.8vw, 1.7rem);
    position: relative;
    z-index: -1;
    left: 40%;
    animation-name: selectedLang;
    animation-duration: 1s;
  }

  .esBtn:checked::after {
    content: "Es";
    font-size: clamp(1.1rem, 1.8vw, 1.7rem);
    position: relative;
    z-index: -1;
    left: 40%;
    animation-name: selectedLang;
    animation-duration: 1s;
  }
}

@keyframes selectedLang {
  from {
    color: transparent;
  }
  to {
    color: black;
  }
}
