@use "../../../styles/abstracts/mixins.scss";
@use "../../../styles/abstracts/variables.scss";

.navBox {
  width: 100%;

  @include mixins.flex(row, wrap);
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background-color: variables.$surfaceColor;
}

@media (min-width: 714px) {
}
