@use "../../../styles/abstracts/mixins.scss";
@use "../../../styles/abstracts/variables.scss";

.footer {
  width: 100%;
  height: auto;
  padding: 2% 0;
  @include mixins.flex(column, nowrap);
  justify-content: center;
  margin-bottom: 16%;
  background-color: variables.$primaryColor;
}

@media (min-width: 714px) {
  .footer {
    height: au;
    padding: 1% 0;
    margin-bottom: 4.2%;
  }
}
