@use "../../../styles/abstracts/mixins.scss";
@use "../../../styles/abstracts/variables.scss";

.footer {
  width: 100%;
  height: auto;
  padding: 2% 0;
  @include mixins.flex(column, nowrap);
  justify-content: center;
  background-color: variables.$primaryColor;
  margin-bottom: 70px;
}

@media (min-width: 714px) {
  // the footer must to be over the nav bar
  .footer {
    padding: 1% 0;
  }
}
