@use "../../../styles/abstracts/mixins.scss";
@use "../../../styles/abstracts/variables.scss";

.controlsBox {
  width: 100%;
  animation-name: controlsAppear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.form {
  width: 100%;
  padding: clamp(15px, 5%, 35px) 0;
  @include mixins.flex(column, nowrap);
  align-items: center;
  gap: 15px;
  margin: 0 auto;
  background-color: rgb(250, 250, 250);
  border: 1px solid lightgray;
  border-radius: 8px;
  animation-name: controlsAppear;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  touch-action: none;

  label {
    width: 100%;
    max-width: 350px;
    font-size: clamp(1.3rem, 2vw, 1.9rem);
    text-align: center;
    border: none;
    cursor: pointer;
  }

  .hiddeLang {
    display: none;
  }

  .buttonsBox {
    @include mixins.flex(row, wrap);
    gap: 40px;

    input {
      @include mixins.flex(row, wrap);
      justify-items: center;
      align-items: center;
      appearance: none;
      cursor: pointer;
    }

    input:hover {
      color: variables.$actionsColor;
    }

    input:active {
      color: variables.$actionsColor;
    }

    .enBtn::after {
      content: "En";
      font-size: clamp(1.1rem, 1.8vw, 1.7rem);
      position: relative;
      z-index: 1;
    }

    .esBtn::after {
      content: "Es";
      font-size: clamp(1.1rem, 1.8vw, 1.7rem);
      position: relative;
      z-index: 1;
    }
  }
}

.closeForm {
  padding: clamp(15px, 5%, 25px) 0;
  width: 100%;
  @include mixins.flex(column, nowrap);
  align-items: center;
  animation-name: LangSelected;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  gap: 15px;
  border: 1px solid transparent;

  label {
    display: none;
  }

  input {
    appearance: none;
    cursor: pointer;
  }

  .enBtn:checked::after {
    content: "En";
    padding: clamp(5px, 30%, 10px);
    font-size: clamp(1.1rem, 1.8vw, 1.7rem);
    border-radius: 8px;
    color: variables.$actionsColor;
    background-color: rgb(250, 250, 250);
    border: 1px solid lightgray;
    position: relative;
    z-index: -1;
  }

  .esBtn:checked::after {
    content: "Es";
    padding: 5px;
    font-size: clamp(1.1rem, 1.8vw, 1.7rem);
    border-radius: 8px;
    color: variables.$actionsColor;
    background-color: rgb(250, 250, 250);
    border: 1px solid lightgray;
    position: relative;
    z-index: -1;
  }
}

@keyframes controlsAppear {
  from {
    filter: opacity(0);
    position: relative;
    top: 10%;
  }
  to {
    filter: opacity(1);
    position: relative;
    top: 0%;
  }
}

@keyframes LangSelected {
  from {
    filter: opacity(0);
    position: relative;
    top: 10%;
  }
  to {
    filter: opacity(1);
    position: relative;
    top: 0%;
  }
}

@media (min-width: 714px) {
  .controlsStart {
    width: 90%;
  }

  .controlsBox {
    width: 90%;
  }

  .form {
    width: 96.5%;
    border: 2px solid lightgray;
  }
}
