@use "../../../../styles/abstracts/mixins.scss";
@use "../../../../styles/abstracts/variables.scss";

.iconsBox {
  width: 100%;
  height: auto;
  padding: 0 6%;
  border-radius: 8px;
  @include mixins.flex(row, wrap);
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  margin: 0 auto;

  // background-color: rgb(241, 238, 238);
}
.noLinkIcons {
  width: 100%;
  font-size: clamp(0.7rem, 2vw, 1rem);
  @include mixins.flex(row, wrap);
  justify-content: center;
  gap: 15px;
  color: white;
  cursor: inherit;

  .img {
    width: 35px;
    height: auto;
    padding: 3%;
    border-radius: 50%;
    border: 1px solid white;
    background-color: white;
  }

  div {
    @include mixins.flex(row, wrap);
    align-items: center;
    gap: 10px;
  }
}

@media (min-width: 714px) {
  .noLinkIcons {
    width: auto;
    .img {
      width: 43px;
      // padding: 1%;
    }
  }
}
