@use "../../../../styles/abstracts/mixins.scss";
@use "../../../../styles/abstracts/variables.scss";

.headlineBox {
  @include mixins.flex(row, wrap);
  padding: 3%;
  text-align: center;
  gap: 15px;

  .bracket1,
  .bracket2 {
    font-size: 3rem;
    color: rgb(117, 164, 252);
  }

  .bracket1 {
    margin-right: 90%;
  }

  .bracket2 {
    margin-left: 95%;
  }

  .textBox {
    @include mixins.flex(column, nowrap);
    gap: 10px;
  }
  h1 {
    font-weight: 700;
    font-size: clamp(1.3rem, 3.5vw, 3rem);
    margin-right: 50%;
    color: rgb(82, 80, 80);
  }

  .semicolon {
    font-size: 1.6rem;
    position: relative;
    top: 1px;
    left: 13px;
  }

  p {
    font-weight: 300;
    font-size: clamp(1rem, 3vw, 2rem);
    margin: 4%;
    color: rgb(82, 80, 80);
  }
}

.quotes1,
.quotes2 {
  font-size: 3rem;
  color: rgb(143, 143, 143);
}

.quotes1 {
  position: relative;
  top: 20px;
  margin-right: 90%;
}

.quotes2 {
  margin-left: 90%;
}

@media (min-width: 714px) {
  .headlineBox {
    .bracket1,
    .bracket2 {
      font-weight: 450;
      font-size: 5rem;
    }
    h1 {
      margin-right: 75%;
    }

    .semicolon {
      font-size: 3rem;
      top: 2px;
    }

    .quotes1 {
      top: 60px;
    }
    .quotes1,
    .quotes2 {
      font-size: 6rem;
    }
  }
}
