@use "../../../../styles/abstracts/mixins.scss";
@use "../../../../styles/abstracts/variables.scss";

.headlineBox {
  @include mixins.flex(row, wrap);
  padding: 3%;
  text-align: center;
  gap: 15px;
  // background-color: rgb(75, 114, 241);
  cursor: pointer;

  .bracket1,
  .bracket2 {
    font-size: 3rem;
    color: rgb(117, 164, 252);
  }

  .bracket1 {
    margin-right: 90%;
  }

  .bracket2 {
    margin-left: 95%;
  }

  .textBox {
    @include mixins.flex(column, nowrap);
    // justify-content: center;
    gap: 10px;
  }
  h1 {
    font-weight: 600;
    font-size: clamp(1.2rem, 3.5vw, 2.6rem);
    margin-right: 90%;
  }

  .semicolon {
    font-size: 2rem;
    position: relative;
    top: 2px;
    left: 13px;
    // color: rgb(95, 93, 93);
  }

  p {
    font-weight: 300;
    font-size: clamp(1rem, 3vw, 2rem);
    margin: 4%;
    color: rgb(82, 80, 80);
  }
}

.quotes1,
.quotes2 {
  font-size: 3rem;
  color: rgb(143, 143, 143);
}

.quotes1 {
  position: relative;
  top: 20px;
  margin-right: 90%;
}

.quotes2 {
  margin-left: 90%;
}

@media (min-width: 714px) {
  .headlineBox {
    .bracket1,
    .bracket2 {
      font-weight: 450;
      font-size: 5rem;
    }
    h1 {
      margin: 0 auto;
    }

    .semicolon {
      font-size: 4rem;
      top: 5px;
    }

    .quotes1 {
      top: 60px;
    }
    .quotes1,
    .quotes2 {
      font-size: 6rem;
    }
  }
}
