@use "../../../../styles/abstracts/mixins.scss";
@use "../../../../styles/abstracts/variables.scss";

.headlineBox {
  @include mixins.flex(row, wrap);
  padding: 3%;
  text-align: center;
  gap: 15px;
  background-color: variables.$surfaceColor;
  h1 {
    font-size: 1rem;
    margin: 0 auto;
  }

  p {
    margin: 4%;
    // padding: 3%;
    font-size: 0.9rem;
    // border-radius: 15px;
    // background-color: rgb(240, 240, 240);
  }
}

@media (min-width: 714px) {
  .headlineBox::after {
    bottom: 107px;
  }

  .textBox {
    width: 82%;
    @include mixins.flex(column, nowrap);
    align-items: center;
    position: relative;
    top: 120px;
    gap: 20px;

    h1 {
      font-size: 1.4rem;
      text-align: start;
      margin-left: 0;
    }

    p {
      font-size: 1.2rem;
      margin: 0;
      // margin-left: 0;
      margin-right: 50px;
      // text-align: start;
    }
  }
}
