@use "../../../../styles/abstracts/variables.scss";

.fig {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: gray;
  border: 2px solid variables.$primaryColor;
  color: red;
  margin: 0 auto;
  overflow: hidden;

  .img {
    width: 110%;
    height: auto;
    position: relative;
    left: -6px;
    top: -10px;
  }
}

@media (min-width: 714px) {
  .fig {
    width: 147px;
    height: 147px;

    .img {
      left: -10px;
      top: -17px;
    }
  }
}
