@use "../../../../styles/abstracts/variables.scss";

.photo {
  width: 30%;
  max-width: 155px;
  height: 100px;
  border-radius: 50%;
  background-color: gray;
  border: 2px solid variables.$primaryColor;
  color: red;
  margin: 0 auto;
}

@media (min-width: 714px) {
  .photo {
    height: 150px;
  }
}
