@use "../../../styles/abstracts/mixins.scss";
@use "../../../styles/abstracts/variables.scss";

.projectBox {
  width: 90%;
  max-width: 400px;
  height: auto;
  padding: 4%;
  @include mixins.flex(column, nowrap);
  gap: 20px;
  text-align: center;
  background-color: variables.$surfaceColor;
  border: 1px solid variables.$surfaceBorderColor;
  border-radius: 7px;

  .details {
    padding: 4% 0;
    @include mixins.flex(column, nowrap);
    gap: 20px;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(240, 240, 240);
  }

  .section {
    @include mixins.flex(column, nowrap);
    gap: 10px;
  }

  .title {
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    color: variables.$primaryColor;
  }

  .links {
    @include mixins.flex(row, wrap);
    justify-content: space-around;

    .link {
      font-weight: 400;
      font-size: clamp(1rem, 2vw, 1.3rem);
      color: rgb(15, 15, 167);
    }

    .redirectIcon {
      width: 15px;
      height: auto;
      margin-left: 5px;
    }
  }

  .madeWithH,
  .descriptionH {
    font-weight: 600;
    font-size: clamp(1rem, 2vw, 1.3rem);
  }

  .stackSection {
    gap: 20px;
  }

  .description {
    font-weight: 400;
    font-size: clamp(0.9rem, 2vw, 1.3rem);
  }
}

@media (min-width: 714px) {
  .projectBox {
    padding: 2%;
    .link {
      padding: 3%;
      border-radius: 8px;
    }
    .link:hover {
      background-color: lightgray;
    }
  }
}
