$backgroundColor: rgba(230, 230, 230);
$primaryColor: rgb(66, 148, 255);
$surfaceColor: rgb(250, 250, 250);
$surfaceBorderColor: lightgray;
$actionsColor: rgb(24, 59, 175);

// Spacement
$homePagePadding: 30px;

// Shapes
